__pycache__/
*.pyc
.env
.DS_Store
/backend/.venv/
/backend/__pycache__/
/node_modules/.vite/
/data/
*.ipynb_checkpoints
*.pth
*.pt
*.npy
*.tif
models/
predictions/
/venv/
config.yaml

node_modules/
frontend/node_modules/

# Training outputs
architecture_team_1/unetpp/runs_unetpp/
architecture_team_1/unetpp/outputs_unetpp/