__pycache__/
*.pyc
.env
.DS_Store
/data/
*.ipynb_checkpoints
*.pth
*.pt
*.npy
*.tif
models/
predictions/
/venv/
config.yaml

# Training outputs
architecture_team_1/unetpp/runs_unetpp/
architecture_team_1/unetpp/outputs_unetpp/